/*the variables start here*/

$fullContainer: 100%;
$fullWidth: 100%;
$maxWidthRow: 40%;
$maxWidthIcons: 2rem;
$maxHeightIcons: 2rem;
$autoMargin: auto;
$displayFlex: flex;
$whiteColorText: #fff;
$bgLastSection: #414549;

/*the last section starts from here*/

section:last-of-type.container {
    max-width: $fullContainer;
    background-color: $bgLastSection;
    font-size: 15px;
    color: $whiteColorText;
    padding: 2rem 0rem;
    .row {
        margin: $autoMargin;
        max-width: $maxWidthRow;
        div:first-child {
            .row:first-child {
                div {
                    opacity: 0.5;
                    font-size: 12px;
                    padding: 0rem 0rem 0rem 0.5rem;
                    border-bottom: 0px;
                }
            }
            .row {
                max-width: $fullWidth;
                div {
                    max-width: $fullWidth;
                    margin: 0rem;
                    padding: 0rem;
                    font-weight: 700;
                    font-size: 9px;
                    border-bottom: 1px solid rgb(30, 95, 126);
                    height: 1.5rem
                }
            }
        }
        div:nth-of-type(2) {
            .row:first-child {
                div {
                    opacity: 0.5;
                    font-size: 12px;
                    padding: 0rem 0rem 0.2rem 0.5rem;
                }
            }
            .row {
                max-width: $fullWidth;
                margin-bottom: 0.2rem;
                div {
                    margin: 0rem;
                    padding: 0.1rem 0rem;
                    img {
                        min-width: $fullWidth;
                        height: 2.5rem;
                    }
                    p {
                        font-size: 11px;
                        width: $fullWidth;
                        text-align: center;
                    }
                }
            }
        }
        div:nth-of-type(3) {
            img {
                max-width: $fullWidth;
            }
            .row:first-child {
                div {
                    opacity: 0.5;
                    font-size: 12px;
                    padding: 0rem 0rem 0rem 0.5rem;
                }
            }
            .row {
                max-width: $fullWidth;
                div {
                    max-width: $fullWidth;
                    margin: 0rem;
                    padding: 0.1rem;
                }
            }
        }
    }
}


/*the last section ends here*/


/* footer yousef starts from here guys*/

footer.container {
    max-width: $fullContainer;
    background-color: #333;
    height: 5rem;
    .row {
        max-width: $maxWidthRow;
        margin: $autoMargin;
        padding: 0rem 1rem;
        display: $displayFlex;
        justify-content: flex-end;
        div {
            background-color: #414549;
            max-width: $maxWidthIcons;
            max-height: $maxHeightIcons;
            border-radius: 50%;
            display: $displayFlex;
            justify-content: center;
            align-content: center;
            margin: 1rem 0.2rem;
            .fa {
                display: $displayFlex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                font-size: 20px;
                width: 30px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
                color: #fff;
            }
        }
    }
}


/* footer yousef ends  here guys*/