/*the variables start here*/

$fontGlobalFamily: 'Open Sans',
sans-serif;
$fontSize: 12px;
$maxWidthMediaQ: 768px;
$fullContainer: 100%;
$fullWidth: 100%;
$maxWidthRow: 64%;
$maxWidthIcons: 2rem;
$maxHeightIcons: 2rem;
$autoMargin: auto;
$displayFlex: flex;
$whiteColorText: #fff;
$blackColor: black;
$bgFirstSectionOfFooter: #414549;
$bgColorLastSectionOfFooter: #333;
$bgcolorLine: #989899;
$transitionTime: 1.5s;
$none: none;
$zeroPM: 0rem;
$center: center;
$fiftyRadius: 50%;

/*the varibles end here */


/*start mixin*/

@mixin setHtml {
    font-family: $fontGlobalFamily;
    scroll-behavior: smooth;
}

@mixin setLink {
    color: $blackColor;
    text-decoration: $none;
}

@mixin setContainer {
    min-width: $fullContainer;
    margin: $zeroPM;
    padding: $zeroPM;
}

@mixin flexWrapCenter {
    display: $displayFlex;
    flex-wrap: wrap;
    justify-content: $center;
}

@mixin MediaQflexWrapCenter {
    @media screen and (max-width: $maxWidthMediaQ + 220px) {
        display: $displayFlex;
        flex-wrap: wrap;
        justify-content: $center;
    }
}

@mixin flexCenter {
    display: $displayFlex;
    justify-content: $center;
}

@mixin setPhoneMenu {
    @media screen and (max-width: $maxWidthMediaQ) {
        width: $fullWidth;
        display: $displayFlex;
        justify-content: space-evenly;
        li:first-child,
        li:last-child {
            margin: $zeroPM;
            padding: $zeroPM
        }
    }
}


/*end mixin*/


/*here starts global style*/

html {
    @include setHtml;
}

img {
    max-width: $fullWidth;
}

a {
    @include setLink;
    &:hover {
        @include setLink;
    }
}


/*here ends global style*/


/*media query menu version mobile */

header#header {
    div:last-child {
        nav {
            ul {
                @include setPhoneMenu;
            }
        }
    }
}


/*ends menu*/


/*the latest posts section starts here*/

section#latest-posts.container {
    @include setContainer;
    position: relative;
    .row.father {
        max-width: $maxWidthRow;
        margin: 2rem $autoMargin;
        @media only screen and (max-width: $maxWidthMediaQ) {
            max-width: $fullWidth;
        }
        .titleLine {
            @extend section#latest-posts.container;
            min-width: $fullWidth - 30%;
            display: $displayFlex;
            justify-content: space-between;
            div:first-child {
                display: flex;
                align-items: flex-end;
                p {
                    width: 15em;
                    font-size: $fontSize;
                    font-weight: 900;
                    align-self: $center;
                    margin: $zeroPM;
                }
            }
            div:last-child {
                background-color: $bgcolorLine;
                height: 3px;
                align-self: $center
            }
        }
        .row.articles {
            display: $displayFlex;
            justify-content: space-between;
            min-width: $fullWidth;
            margin: $zeroPM;
            padding: $zeroPM;
            article {
                @include flexWrapCenter;
                margin: 1rem $zeroPM;
                &:hover {
                    cursor: pointer;
                    box-shadow: 5px 15px 20px #414549;
                }
                div {
                    text-align: $center;
                    margin: 0.3rem $zeroPM;
                    h3 {
                        font-size: 20px;
                    }
                    p {
                        font-size: $fontSize;
                        font-weight: 900;
                        align-self: $center;
                        margin: $zeroPM;
                        color: $bgcolorLine;
                        b {
                            color: orangered;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        button {
            @keyframes shadow-pulse {
                0% {
                    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
                }
                100% {
                    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
                }
            }
            background-color: $bgColorLastSectionOfFooter;
            color: $whiteColorText;
            position: fixed;
            font-size: 2rem;
            top: 18rem;
            right: 0rem;
            animation: shadow-pulse 1s infinite;
        }
        .under-line {
            min-width: $fullWidth;
            padding: 1rem;
            margin: $zeroPM;
            border-top: 0.5px solid $bgcolorLine;
            text-align: $center;
            @include flexCenter;
            align-content: space-around;
            .circle {
                border: 0.5px solid $bgcolorLine;
                border-radius: $fiftyRadius;
                @include flexCenter;
                align-items: $center;
                margin: 0.2rem;
                max-width: 30px;
                height: 30px;
                opacity: 0.5;
                font-size: $fontSize;
                &:hover {
                    cursor: pointer;
                    box-shadow: 5px 15px 20px $bgcolorLine;
                    background: $blackColor;
                    color: $whiteColorText;
                    transition: all $transitionTime;
                }
            }
            .circle:first-of-type {
                color: $whiteColorText;
                background: $blackColor;
            }
            .circle:nth-of-type(3) {
                border: 0px;
            }
        }
    }
}


/*the latest posts section ends here*/


/* footer yousef starts from here guys*/

#footer-yousef.container.yousef {
    @extend section#latest-posts.container;
    width: 100%;
    /*here is the section of the footer page that contains the dogs photos before the last one*/
    section.row.dogs-photos {
        @extend section#latest-posts.container;
        background-color: $bgFirstSectionOfFooter;
        @include flexCenter;
        div.center {
            padding: $zeroPM;
            margin: 2rem $zeroPM;
            display: $displayFlex;
            flex-wrap: nowrap;
            color: $whiteColorText;
            @include MediaQflexWrapCenter;
            article:first-child {
                margin: $zeroPM $autoMargin;
                .row:first-child {
                    @include MediaQflexWrapCenter;
                    div {
                        opacity: 0.5;
                        font-size: $fontSize;
                        padding: $zeroPM $zeroPM $zeroPM 0.5rem;
                        border-bottom: 0px;
                    }
                }
                .row {
                    max-width: $fullWidth;
                    margin-left: 0.5rem;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 5px 15px 20px $bgcolorLine;
                        background: $whiteColorText;
                        color: $blackColor;
                        transform: scale(1);
                        transition: all $transitionTime;
                    }
                    div {
                        @extend section#latest-posts.container;
                        font-weight: 700;
                        font-size: 12px;
                        border-bottom: 1px solid rgb(43, 64, 73);
                        height: 2rem
                    }
                }
            }
            article:nth-of-type(2) {
                @include MediaQflexWrapCenter;
                .row:first-child {
                    @media only screen and (max-width: ($maxWidthMediaQ + 220px)) {
                        min-width: $fullWidth;
                        text-align: $center;
                    }
                    div {
                        opacity: 0.5;
                        font-size: $fontSize;
                        padding: $zeroPM $zeroPM 0.2rem 0.5rem;
                    }
                }
                .row {
                    min-width: $fullWidth;
                    margin-bottom: 0.2rem;
                    div {
                        margin: $zeroPM;
                        padding: 0.1rem $zeroPM;
                        img {
                            min-width: $fullWidth;
                            height: 3.3rem;
                        }
                        p {
                            font-size: 11px;
                            width: $fullWidth;
                            text-align: $center;
                        }
                    }
                }
            }
            article:nth-of-type(3) {
                @include MediaQflexWrapCenter;
                img {
                    max-width: $fullWidth;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 5px 15px 20px #414549;
                        transform: scale(-1);
                        transition: all 10s;
                    }
                }
                .row:first-child {
                    div {
                        opacity: 0.5;
                        font-size: $fontSize;
                        padding: $zeroPM $zeroPM 0.2rem 0.5rem;
                    }
                }
                .row {
                    max-width: $fullWidth;
                    div {
                        margin: $zeroPM;
                        padding: 0.1rem;
                    }
                }
            }
        }
    }
    /*here is the last section of the footer page that contains the social media icons*/
    section.row.icons {
        @extend section#latest-posts.container;
        background-color: $bgColorLastSectionOfFooter;
        height: 4rem;
        article.center {
            margin: $autoMargin;
            padding: $zeroPM 1rem;
            display: $displayFlex;
            justify-content: flex-end;
            @media only screen and (max-width: $maxWidthMediaQ) {
                justify-content: $center;
            }
        }
        div {
            background-color: #414549;
            max-width: $maxWidthIcons;
            max-height: $maxHeightIcons;
            border-radius: $fiftyRadius;
            @include flexCenter;
            align-content: $center;
            margin: 1rem 0.2rem;
            &:hover {
                cursor: pointer;
                box-shadow: 5px 15px 20px $bgcolorLine;
                transition: all $transitionTime;
            }
            .fa {
                @include flexCenter;
                align-items: $center;
                padding: 10px;
                font-size: 20px;
                width: 30px;
                text-align: $center;
                text-decoration: $none;
                border-radius: $fiftyRadius;
                color: $whiteColorText;
            }
        }
    }
}


/* footer yousef ends  here guys*/