/* header kevin */
header {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 20px;
  /*  */ }
  header #titre-1 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  header #social-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none; }
    header #social-menu li figure img {
      width: 16px;
      height: 16px; }
  header .nav {
    width: 50%;
    display: flex;
    font-size: 10px;
    justify-content: space-around; }
    header .nav li {
      max-width: 15%; }

nav {
  display: flex;
  justify-content: center; }

/* fin du header */
hr {
  margin: 30px 23.5% 0 10%; }

/*  corps des articles */
figure img {
  width: 100%; }

/* fin du corps des articles */
#section1 {
  padding-top: 20px; }
  #section1 img {
    width: 100%;
    height: auto; }
  #section1 h3 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px; }

.categories {
  font-family: 'Open Sans', sans-serif;
  color: orangered;
  text-align: center;
  margin-top: 15px;
  font-weight: 900;
  font-size: 0.6rem; }

h4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  opacity: 0.8; }
  h4 .textBold {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 0.6rem; }

/*sectionn featured posts debut*/
#section2 {
  padding-top: 20px; }
  #section2 img {
    width: 100%;
    height: auto; }
  #section2 h3 {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px; }

.separation {
  display: inline-block; }

.espaceImg {
  margin-top: 50px; }

h4 {
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  text-align: left; }

.buttonLogo {
  max-width: 16px;
  max-height: 16px; }

.buttonAlign {
  display: inline-flex;
  flex-direction: row;
  justify-content: baseline;
  align-content: center; }
  .buttonAlign img, .buttonAlign p {
    padding: auto;
    margin: auto; }
  .buttonAlign p {
    font-weight: 900; }

.follow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start; }

.gauche {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/* section featured posts fin*/
/* footer */
/* fin du footer */
