/* header kevin */
header {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 40px;
  /*  */ }
  header #titre-1 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  header #social-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  header .nav {
    width: 50%;
    display: flex;
    font-size: 10px;
    justify-content: space-around; }
    header .nav li {
      max-width: 15%; }

nav {
  display: flex;
  justify-content: center; }

/* footer */
