<<<<<<< HEAD
/*the variables start here*/
/*the varibles end here */
/*start mixin*/
/*end mixin*/
/*here starts global style*/
html {
  font-family: "Open Sans", sans-serif; }

img {
  max-width: 100%; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: none; }

/*here ends global style*/
/*the latest posts section starts here*/
section#latest-posts.container, section#latest-posts.container .row.father .titleLine, #footer-yousef.container.yousef, #footer-yousef.container.yousef section.row.dogs-photos, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div, #footer-yousef.container.yousef section.row.icons {
  min-width: 100%;
  margin: 0rem;
  padding: 0rem; }
  section#latest-posts.container .row.father, section#latest-posts.container .row.father .titleLine .row.father, #footer-yousef.container.yousef .row.father, #footer-yousef.container.yousef section.row.dogs-photos .row.father, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father, #footer-yousef.container.yousef section.row.icons .row.father {
    max-width: 64%;
    margin: 2rem auto; }
    @media only screen and (max-width: 768px) {
      section#latest-posts.container .row.father, section#latest-posts.container .row.father .titleLine .row.father, #footer-yousef.container.yousef .row.father, #footer-yousef.container.yousef section.row.dogs-photos .row.father, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father, #footer-yousef.container.yousef section.row.icons .row.father {
        max-width: 100%; } }
    section#latest-posts.container .row.father .titleLine, #footer-yousef.container.yousef .row.father .titleLine, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .titleLine {
      min-width: 70%;
      display: flex;
      justify-content: space-between; }
      section#latest-posts.container .row.father .titleLine div:first-child, #footer-yousef.container.yousef .row.father .titleLine div:first-child, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .titleLine div:first-child {
        display: flex;
        align-items: flex-end; }
        section#latest-posts.container .row.father .titleLine div:first-child p, #footer-yousef.container.yousef .row.father .titleLine div:first-child p, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .titleLine div:first-child p {
          width: 15em;
          font-size: 12px;
          font-weight: 900;
          align-self: center;
          margin: 0rem; }
      section#latest-posts.container .row.father .titleLine div:last-child, #footer-yousef.container.yousef .row.father .titleLine div:last-child, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .titleLine div:last-child {
        background-color: #989899;
        height: 3px;
        align-self: center; }
    section#latest-posts.container .row.father .row.articles, #footer-yousef.container.yousef .row.father .row.articles, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles {
      display: flex;
      justify-content: space-between;
      min-width: 100%;
      margin: 0rem;
      padding: 0rem; }
      section#latest-posts.container .row.father .row.articles article, #footer-yousef.container.yousef .row.father .row.articles article, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0rem; }
        section#latest-posts.container .row.father .row.articles article:hover, #footer-yousef.container.yousef .row.father .row.articles article:hover, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article:hover {
          cursor: pointer;
          box-shadow: 5px 15px 20px #414549; }
        section#latest-posts.container .row.father .row.articles article div, #footer-yousef.container.yousef .row.father .row.articles article div, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article div {
          text-align: center;
          margin: 0.3rem 0rem; }
          section#latest-posts.container .row.father .row.articles article div h3, #footer-yousef.container.yousef .row.father .row.articles article div h3, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article div h3 {
            font-size: 20px; }
          section#latest-posts.container .row.father .row.articles article div p, #footer-yousef.container.yousef .row.father .row.articles article div p, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article div p {
            font-size: 12px;
            font-weight: 900;
            align-self: center;
            margin: 0rem;
            color: #989899; }
            section#latest-posts.container .row.father .row.articles article div p b, #footer-yousef.container.yousef .row.father .row.articles article div p b, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article div p b {
              color: orangered;
              font-size: 10px; }
    section#latest-posts.container .row.father .under-line, #footer-yousef.container.yousef .row.father .under-line, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line {
      min-width: 100%;
      padding: 1rem;
      margin: 0rem;
      border-top: 0.5px solid #989899;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: space-around; }
      section#latest-posts.container .row.father .under-line .circle, #footer-yousef.container.yousef .row.father .under-line .circle, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line .circle {
        border: 0.5px solid #989899;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem;
        max-width: 30px;
        height: 30px;
        opacity: 0.5;
        font-size: 12px; }
        section#latest-posts.container .row.father .under-line .circle:hover, #footer-yousef.container.yousef .row.father .under-line .circle:hover, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line .circle:hover {
          cursor: pointer;
          box-shadow: 5px 15px 20px #989899;
          background: black;
          color: #fff;
          transition: all 1.5s; }
      section#latest-posts.container .row.father .under-line .circle:first-of-type, #footer-yousef.container.yousef .row.father .under-line .circle:first-of-type, #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line .circle:first-of-type {
        color: #fff;
        background: black; }
      section#latest-posts.container .row.father .under-line .circle:nth-of-type(3), #footer-yousef.container.yousef .row.father .under-line .circle:nth-of-type(3), #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line .circle:nth-of-type(3) {
        border: 0px; }

/*the latest posts section ends here*/
/* footer yousef starts from here guys*/
#footer-yousef.container.yousef {
  width: 100%;
  /*here is the section of the footer page that contains the dogs photos before the last one*/
  /*here is the last section of the footer page that contains the social media icons*/ }
  #footer-yousef.container.yousef section.row.dogs-photos {
    background-color: #414549;
    display: flex;
    justify-content: center; }
    #footer-yousef.container.yousef section.row.dogs-photos div.center {
      padding: 0rem;
      margin: 2rem 0rem;
      display: flex;
      flex-wrap: nowrap;
      color: #fff; }
      @media only screen and (max-width: 768px) {
        #footer-yousef.container.yousef section.row.dogs-photos div.center {
          display: flex;
          justify-content: center; } }
      #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child {
        margin: 0rem auto; }
        @media only screen and (max-width: 768px) {
          #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row:first-child {
            text-align: center; } }
        #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row:first-child div {
          opacity: 0.5;
          font-size: 12px;
          padding: 0rem 0rem 0rem 0.5rem;
          border-bottom: 0px; }
        #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row {
          max-width: 100%;
          margin-left: 0.5rem; }
          #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row:hover {
            cursor: pointer;
            box-shadow: 5px 15px 20px #989899;
            background: #fff;
            color: black;
            transform: scale(1);
            transition: all 1.5s; }
          #footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div {
            font-weight: 700;
            font-size: 12px;
            border-bottom: 1px solid #2b4049;
            height: 2rem; }
      @media only screen and (max-width: 768px) {
        #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center; } }
      @media only screen and (max-width: 768px) {
        #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row:first-child {
          min-width: 100%;
          text-align: center; } }
      #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row:first-child div {
        opacity: 0.5;
        font-size: 12px;
        padding: 0rem 0rem 0.2rem 0.5rem; }
      #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row {
        max-width: 100%;
        margin-bottom: 0.2rem; }
        #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row div {
          margin: 0rem;
          padding: 0.1rem 0rem; }
          #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row div img {
            min-width: 100%;
            height: 3.3rem; }
          #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row div p {
            font-size: 11px;
            width: 100%;
            text-align: center; }
      @media only screen and (max-width: 768px) {
        #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center; } }
      #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) img {
        max-width: 100%; }
        @media only screen and (max-width: 768px) {
          #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) img {
            width: 100%; } }
        #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) img:hover {
          cursor: pointer;
          box-shadow: 5px 15px 20px #414549;
          transform: scale(-1);
          transition: all 10s; }
      #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) .row:first-child div {
        opacity: 0.5;
        font-size: 12px;
        padding: 0rem 0rem 0.2rem 0.5rem; }
      #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) .row {
        max-width: 100%; }
        #footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) .row div {
          margin: 0rem;
          padding: 0.1rem; }
  #footer-yousef.container.yousef section.row.icons {
    background-color: #333;
    height: 4rem; }
    #footer-yousef.container.yousef section.row.icons article.center {
      margin: auto;
      padding: 0rem 1rem;
      display: flex;
      justify-content: flex-end; }
      @media only screen and (max-width: 768px) {
        #footer-yousef.container.yousef section.row.icons article.center {
          justify-content: center; } }
    #footer-yousef.container.yousef section.row.icons div {
      background-color: #414549;
      max-width: 2rem;
      max-height: 2rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 1rem 0.2rem; }
      #footer-yousef.container.yousef section.row.icons div:hover {
        cursor: pointer;
        box-shadow: 5px 15px 20px #989899;
        transition: all 1.5s; }
      #footer-yousef.container.yousef section.row.icons div .fa {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 20px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        color: #fff; }

/* footer yousef ends  here guys*/

/*# sourceMappingURL=yousef.css.map */
=======
html{font-family:"Open Sans",sans-serif}img{max-width:100%}a{color:#000;text-decoration:none}a:hover{color:#000;text-decoration:none}section#latest-posts.container,section#latest-posts.container .row.father .titleLine,#footer-yousef.container.yousef,#footer-yousef.container.yousef section.row.dogs-photos,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div,#footer-yousef.container.yousef section.row.icons{min-width:100%;margin:0rem;padding:0rem}section#latest-posts.container .row.father,section#latest-posts.container .row.father .titleLine .row.father,#footer-yousef.container.yousef .row.father,#footer-yousef.container.yousef section.row.dogs-photos .row.father,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father,#footer-yousef.container.yousef section.row.icons .row.father{max-width:64%;margin:2rem auto}@media only screen and (max-width: 768px){section#latest-posts.container .row.father,section#latest-posts.container .row.father .titleLine .row.father,#footer-yousef.container.yousef .row.father,#footer-yousef.container.yousef section.row.dogs-photos .row.father,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father,#footer-yousef.container.yousef section.row.icons .row.father{max-width:100%}}section#latest-posts.container .row.father .titleLine,#footer-yousef.container.yousef .row.father .titleLine,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .titleLine{min-width:100%;display:flex;align-content:center}section#latest-posts.container .row.father .titleLine div:first-child,#footer-yousef.container.yousef .row.father .titleLine div:first-child,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .titleLine div:first-child{display:flex;align-items:center}section#latest-posts.container .row.father .titleLine div:first-child p,#footer-yousef.container.yousef .row.father .titleLine div:first-child p,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .titleLine div:first-child p{min-width:15rem;font-size:12px;font-weight:900;align-self:center;margin:0rem}section#latest-posts.container .row.father .titleLine div:last-child,#footer-yousef.container.yousef .row.father .titleLine div:last-child,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .titleLine div:last-child{background-color:#989899;height:1px;align-self:center}section#latest-posts.container .row.father .row.articles,#footer-yousef.container.yousef .row.father .row.articles,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles{display:flex;justify-content:space-between;min-width:100%;margin:0rem;padding:0rem}section#latest-posts.container .row.father .row.articles article,#footer-yousef.container.yousef .row.father .row.articles article,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article{display:flex;flex-wrap:wrap;justify-content:center;margin:1rem 0rem}section#latest-posts.container .row.father .row.articles article:hover,#footer-yousef.container.yousef .row.father .row.articles article:hover,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article:hover{cursor:pointer;box-shadow:5px 15px 20px #414549}section#latest-posts.container .row.father .row.articles article div,#footer-yousef.container.yousef .row.father .row.articles article div,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article div{text-align:center;margin:0.3rem 0rem}section#latest-posts.container .row.father .row.articles article div h3,#footer-yousef.container.yousef .row.father .row.articles article div h3,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article div h3{font-size:20px}section#latest-posts.container .row.father .row.articles article div p,#footer-yousef.container.yousef .row.father .row.articles article div p,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article div p{font-size:12px;font-weight:900;align-self:center;margin:0rem;color:#989899}section#latest-posts.container .row.father .row.articles article div p b,#footer-yousef.container.yousef .row.father .row.articles article div p b,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .row.articles article div p b{color:orangered;font-size:10px}section#latest-posts.container .row.father .under-line,#footer-yousef.container.yousef .row.father .under-line,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line{min-width:100%;padding:1rem;margin:0rem;border-top:0.5px solid #989899;text-align:center;display:flex;justify-content:center;align-content:space-around}section#latest-posts.container .row.father .under-line .circle,#footer-yousef.container.yousef .row.father .under-line .circle,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line .circle{border:0.5px solid #989899;border-radius:50%;display:flex;justify-content:center;align-items:center;margin:0.2rem;max-width:30px;height:30px;opacity:0.5;font-size:12px}section#latest-posts.container .row.father .under-line .circle:hover,#footer-yousef.container.yousef .row.father .under-line .circle:hover,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line .circle:hover{cursor:pointer;box-shadow:5px 15px 20px #989899;background:#000;color:#fff;transition:all 1.5s}section#latest-posts.container .row.father .under-line .circle:first-of-type,#footer-yousef.container.yousef .row.father .under-line .circle:first-of-type,#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line .circle:first-of-type{color:#fff;background:#000}section#latest-posts.container .row.father .under-line .circle:nth-of-type(3),#footer-yousef.container.yousef .row.father .under-line .circle:nth-of-type(3),#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div .row.father .under-line .circle:nth-of-type(3){border:0px}#footer-yousef.container.yousef{width:100%}#footer-yousef.container.yousef section.row.dogs-photos{background-color:#414549;display:flex;justify-content:center}#footer-yousef.container.yousef section.row.dogs-photos div.center{padding:0rem;margin:2rem 0rem;display:flex;flex-wrap:nowrap;color:#fff}@media only screen and (max-width: 768px){#footer-yousef.container.yousef section.row.dogs-photos div.center{display:flex;justify-content:center}}#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child{margin:0rem auto}@media only screen and (max-width: 768px){#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row:first-child{text-align:center}}#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row:first-child div{opacity:0.5;font-size:12px;padding:0rem 0rem 0rem 0.5rem;border-bottom:0px}#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row{max-width:100%;margin-left:0.5rem}#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row:hover{cursor:pointer;box-shadow:5px 15px 20px #989899;background:#fff;color:#000;transform:scale(1);transition:all 1.5s}#footer-yousef.container.yousef section.row.dogs-photos div.center article:first-child .row div{font-weight:700;font-size:12px;border-bottom:1px solid #2b4049;height:2rem}@media only screen and (max-width: 768px){#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2){display:flex;flex-wrap:wrap;justify-content:center}}@media only screen and (max-width: 768px){#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row:first-child{min-width:100%;text-align:center}}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row:first-child div{opacity:0.5;font-size:12px;padding:0rem 0rem 0.2rem 0.5rem}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row{max-width:100%;margin-bottom:0.2rem}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row div{margin:0rem;padding:0.1rem 0rem}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row div img{min-width:100%;height:3.3rem}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(2) .row div p{font-size:11px;width:100%;text-align:center}@media only screen and (max-width: 768px){#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3){display:flex;flex-wrap:wrap;justify-content:center}}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) img{max-width:100%}@media only screen and (max-width: 768px){#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) img{width:100%}}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) img:hover{cursor:pointer;box-shadow:5px 15px 20px #414549;transform:scale(-1);transition:all 10s}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) .row:first-child div{opacity:0.5;font-size:12px;padding:0rem 0rem 0.2rem 0.5rem}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) .row{max-width:100%}#footer-yousef.container.yousef section.row.dogs-photos div.center article:nth-of-type(3) .row div{margin:0rem;padding:0.1rem}#footer-yousef.container.yousef section.row.icons{background-color:#333;height:4rem}#footer-yousef.container.yousef section.row.icons article.center{margin:auto;padding:0rem 1rem;display:flex;justify-content:flex-end}@media only screen and (max-width: 768px){#footer-yousef.container.yousef section.row.icons article.center{justify-content:center}}#footer-yousef.container.yousef section.row.icons div{background-color:#414549;max-width:2rem;max-height:2rem;border-radius:50%;display:flex;justify-content:center;align-content:center;margin:1rem 0.2rem}#footer-yousef.container.yousef section.row.icons div:hover{cursor:pointer;box-shadow:5px 15px 20px #989899;transition:all 1.5s}#footer-yousef.container.yousef section.row.icons div .fa{display:flex;justify-content:center;align-items:center;padding:10px;font-size:20px;width:30px;text-align:center;text-decoration:none;border-radius:50%;color:#fff}
>>>>>>> 096fbd89222ad17b028cc93a92852325ea7d2067
